px68k-android/assets
px68k-android/bin
px68k-android/gen
px68k-android/libs
px68k-android/obj
px68k-android/.classpath
px68k-android/.project
px68k-android/.settings
px68k-ios/px68k-ios.xcodeproj/project.xcworkspace
px68k-ios/px68k-ios.xcodeproj/xcuserdata
