px68k-android/assets
px68k-android/bin
px68k-android/gen
px68k-android/jni/SDL
px68k-android/libs
px68k-android/obj
px68k-android/.classpath
px68k-android/.cproject
px68k-android/.project
px68k-android/.settings

